.btn_normal {
  @apply bg-white text-dark-50;
  @apply border border-solid border-gray-200;
  @apply hover:enabled:(text-accent-heavy border-accent) disabled:btn_disabled;
}

.btn_primary {
  @apply bg-primary text-white font-bold;
  @apply border border-solid border-primary;
  @apply hover:enabled:(bg-primary-light text-primary-heavy) active:(bg-primary text-white) disabled:btn_disabled;
}

.btn_primary--line {
  @apply bg-white text-primary-heavy font-bold;
  @apply border border-solid border-primary;
  @apply hover:enabled:(bg-primary text-white) active:(bg-primary text-white) disabled:btn_disabled;
}

.btn_accent {
  @apply bg-accent text-white font-bold;
  @apply border border-solid border-accent;
  @apply hover:enabled:(bg-accent-light text-accent-heavy) active:(bg-accent text-white) disabled:btn_disabled;
}

.btn_accent--line {
  @apply bg-white text-accent-heavy font-bold;
  @apply border border-solid border-accent;
  @apply hover:enabled:(bg-accent-light text-accent-heavy) active:(bg-accent text-white) disabled:btn_disabled;
}

.btn_secondary {
  @apply bg-gray-700 text-white font-bold;
  @apply border border-solid border-gray-700;
  @apply text-sm;
  @apply hover:enabled:(bg-gray-300 text-gray-700) active:(bg-gray-700 text-white) disabled:btn_disabled;
}

.btn_cancel {
  @apply bg-gray-200 text-dark-50;
  @apply border border-solid border-gray-100;
  @apply hover:enabled:(bg-gray-300) active:(bg-gray-200) disabled:btn_disabled;
}

.input--base {
  @apply rounded py-1 px-4;
  @apply border border-solid border-gray-200 bg-white text-dark-50;
  @apply overflow-hidden;
  @apply disabled:bg-gray-100;
}
.input--base:focus {
  @apply outline-none border-accent;
}

.input--icon {
  text-indent: 20px;
}

/* 按鈕樣式的 input 可套用，使其套用 button 的基礎樣式 */
.radio_btn,
.checkbox_btn {
  @apply rounded py-2 px-4 transition-all cursor-pointer;
}

/* 背景半透明黑幕 */
.mask {
  @apply w-full h-full fixed inset-0 z-modal bg-black/30;
}

/* 藍色轉圈 loading */
.loader_rotate {
  @apply w-4 h-4 border-4 rounded-full border-gray-50 border-t-blue-400;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* 灰色閃爍 loading */
/* z-index 為 3，為了預設在 cb-chart 之上（目前 cb-chart 應該到 1） */
.blink_loading {
  @apply absolute inset-0 z-3 w-full h-full bg-gray-300;
  animation: blink 2s linear infinite;
}

@keyframes blink {
  0%, 100% {
    background-color: gray;
  }
  50% {
    background-color: white;
  }
}
@-webkit-keyframes blink {
  0%, 100% {
    background-color: gray;
  }
  50% {
    background-color: white;
  }
}

/* 放在 div 上，input 在前面 */
.checkbox_primary {
  @apply relative w-6 h-6 rounded m-2 transition;
  @apply bg-white border border-gray-300 peer-checked:bg-primary peer-disabled:bg-gray-200;
  @apply cursor-pointer peer-disabled:cursor-not-allowed;

  &::before {
    content: '';
    @apply absolute top-[45%] left-1/2 transform -translate-x-1/2 -translate-y-1/2 rotate-45;
    @apply w-2 h-3;
    @apply border-[3px] border-white;
    @apply hidden peer-checked:block;
    border-top: none;
    border-left: none;
  }
}
