@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?290m0a');
  src:  url('fonts/icomoon.eot?290m0a#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?290m0a') format('truetype'),
    url('fonts/icomoon.woff?290m0a') format('woff'),
    url('fonts/icomoon.svg?290m0a#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow_down:before {
  content: "\e904";
}
.icon-arrow_left:before {
  content: "\e905";
}
.icon-arrow_right:before {
  content: "\e906";
}
.icon-arrow_up:before {
  content: "\e907";
}
.icon-delete:before {
  content: "\e915";
}
.icon-edit-1:before {
  content: "\e91e";
}
.icon-edit-2:before {
  content: "\e91f";
}
.icon-info:before {
  content: "\e92e";
}
.icon-log_out-1:before {
  content: "\e931";
}
.icon-log_out-2:before {
  content: "\e932";
}
.icon-member-1:before {
  content: "\e934";
}
.icon-member-2:before {
  content: "\e935";
}
.icon-menu-1:before {
  content: "\e936";
}
.icon-notice-2:before {
  content: "\e93b";
}
.icon-notification-1:before {
  content: "\e95e";
}
.icon-notification-2:before {
  content: "\e95f";
}
.icon-search:before {
  content: "\e949";
}
.icon-symbol_add:before {
  content: "\e953";
}
.icon-symbol_close:before {
  content: "\e954";
}
.icon-symbol_hook:before {
  content: "\e955";
}
.icon-symbol_return:before {
  content: "\e956";
}
.icon-symbol_subtract:before {
  content: "\e958";
}
.icon-home:before {
  content: "\e93c";
}
.icon-warning:before {
  content: "\e927";
}
